.resizable-canvas-divider {
  position: absolute;
  right: -5px;
  height: 100%;
  width: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.resizable-canvas-divider__line {
  height: 100%;
  width: 1px;
  background: var(--border);
  transition: background-color 0.2s ease-in-out;
}

.resizable-canvas-divider:hover .resizable-canvas-divider__line {
  height: 100%;
  width: 3px;
  background: #52525b;
  cursor: ew-resize;
}

.resizable-canvas-divider__line--dragging {
  background: #71717a !important;
  cursor: ew-resize;
}
