.drag-bar {
  flex-shrink: 0;
  width: 10px;
  height: 100%;
  cursor: col-resize;
  transition: background-color 0.15s 0.15s ease-in-out;
  position: absolute;
  right: -5px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drag-bar.drag-bar--horizontal {
  height: 5px;
  width: 100%;
  cursor: row-resize;
}

.drag-bar__indicator {
  background: var(--border__medium);
  width: 1px;
  height: 100%;
  transition: 0.3s ease-in-out;
}

.drag-bar.drag-bar--dragging .drag-bar__indicator {
  background: #71717a;
  width: 3px;
  height: 100%;
}

.drag-bar:hover .drag-bar__indicator {
  background: #52525b;
  width: 3px;
  height: 100%;
}
