@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #030712;
  --foreground: #ffffff;
  --border: #28272c;
  --border__medium: #36353a;
  --border__light: #484848;
  --border-radius: 9px;
  --border-radius__s: 7px;
  --canvas-bg: #0f0f10;
  --canvas-menu-bg: #222d33;
  --hover-bg: rgba(255, 255, 255, 0.1);
  --hover-bg__solid: #272728;
  --purple: #855fff;
  --editor-bg: #0f0f10;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

.icon {
  width: 2em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}
